h1 {
  font-family: Roboto;
  color: aquamarine;
}

.imagespar {
  display: flex;
  gap: 20px;
}

.imagespar img {
  height: 25vh;
}

.indexflex {
  display: flex;
  flex-direction: row;
}
.bottomlinks {
  display: flex;
  flex-direction: row;
  background-color: blue;
}
/*style="color: green; border: 2px; border-color: black; background-color: aquamarine; border-radius: 10px; border-style: solid; text-decoration: none; height: 5vh;"