.hero {
  position: relative;
  width: 100%;
}

.hero img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.herotext {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 4);
  font-size: 60px;
  text-align: center;
  animation: moveRighthero 2s;
}

@keyframes moveRighthero {
  from {left: 0px}
  to {left: 50%}
}

.indexinfo {
  position: relative;
  margin-top: 100px;
  width: 100%;
}

.undertitle {
  position: absolute;
  top: 100%;
  left: 50%;
  color: black;
  font-family: 'Times New Roman', Times;
  transform: translate(-50%, -50%);
  font-size: 48px;
  text-align: center;
}

.index1text{
  background-color: rgb(255, 250, 164);
  border-radius: 30px;
  position: absolute; 
  margin-top: 8%;
  right: 1vw;
  width: 50%;
  color: black;
  font-size: 32px;
  text-align: left;
}

.index2text{
  background-color: rgb(255, 250, 164);
  border-radius: 30px;
  position: absolute; 
  margin-top: 42%;
  left: 1vw;
  width: 50%;
  color: black;
  font-size: 32px;
  text-align: left;
}

.index1link{
  background-color: rgb(255, 246, 71);
  border-radius: 30px;
  position: absolute; 
  margin-top: 58%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 48px;
  text-align: center;
  text-decoration: none;
}

.imageflexindex {
  display: flex;
  flex-direction: column;
  margin-top: 12%;
  height: 20vw;
  position: absolute;
}
.indeximage1 {
  margin-left: 5vw;
  width: 40%;
  border-radius: 30%;
}

.buybutton {
  background-color: transparent;
  text-align: center;
  border: none;
  border-radius: 50px;
  height: 10vh;
}
.buybutton:hover {
  transform: scale(1.05);
}

.click {
  animation: down 0.1s ease;
}

@keyframes down {
  0%   { transform: scale(1); }
  50%  { transform: scale(0.9); }
  100% { transform: scale(1); }
}

.bottomlinks a  img{
  margin-left: 15vw;
  margin-top: 5%;
  width: 5vw;
}

.bottomlinksproducts a  img{
  margin-left: 15vw;
  margin-top: 5%;
  width: 5vw;
}

.bottomlinksindex a  img{
  margin-left: 15vw;
  margin-top: 50%;
  width: 5vw;
}
.bottomlinkswarenkorb a  img{
  margin-left: 15vw;
  margin-top: 5%;
  width: 5vw;
}

.produktebar1 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.produktetitel {
  color: black;
  font-size: 60px;
  text-align: center;
}
.warenkorb {
  position: absolute;
  height: 3vh;
  margin-top: 5vw;
  margin-left: 85vw;
}

.produktegrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding: 40px;
}

.produktcard {
  background: rgb(216, 216, 216);
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}
.produktcardtitel {
  color: black;
  font-size: 25px;
}
.produktcardpreis {
  color: black;
  font-size: 25px;
}

.warenkorbclear {
  background-color: transparent;
  text-align: center;
  border: none;
  border-radius: 50px;
  height: 10vh;
  font-size: 15px;
}

.contacttable {
  position: relative;
  left: 25%;
  width: 50%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background: rgb(255, 250, 164);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin-top: 2vw;
  text-orientation: upright;
}

.contacttable td {
  padding: 12px;
  text-align: center;
}
.cttitle {
  font-family: 'Times New Roman', Times;
  font-size: 2vw;
  text-align: center;
}
.contacttable tbody td:nth-child(even) {
  background: rgb(255, 248, 123);
}

.video {
  position: relative;
  border-radius: 10%;
  width:100%;
}

.aboutusimg {
  position: relative;
  border-radius: 10%;
  width:100%;
}

.aboutustext1{
  position: absolute;
  top: 107%;
  left: 50%;
  font-family: 'Times New Roman', Times;
  color: rgb(255, 255, 4);
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.aboutustitle1 {
  font-family: 'Times New Roman', Times;
  font-size: 48px;
  text-align: center;
}

.aboutustext2{
  position: absolute;
  top: 230%;
  left: 50%;
  font-family: 'Times New Roman', Times;
  color: rgb(255, 255, 4);
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

.aboutusimg1 {
  position: relative;
  border-radius: 10%;
  width:49%;
  margin-top: 5px;
}
.aboutustitle2 {
  position: absolute;
  font-family: 'Times New Roman', Times;
  font-size: 48px;
  text-align: center;
  width:49%;
  right: 0%;
}
/*style="color: green; border: 2px; border-color: black; background-color: aquamarine; border-radius: 10px; border-style: solid; text-decoration: none; height: 5vh;"