.warenkorb {
  height: 3vh;
  margin-left: 85vw;
}

.hero {
  position: relative;
  width: 100%;
}

.hero img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.hero-text {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 4);
  font-size: 60px;
  text-align: center;
  animation: moveRighthero 2s;
}

@keyframes moveRighthero {
  from {left: 0px}
  to {left: 50%}
}

.indexinfo {
  position: relative;
  margin-top: 100px;
  width: 100%;
}

.undertitle {
  position: absolute;
  top: 100%;
  left: 50%;
  color: black;
  font-family: 'Times New Roman', Times;
  transform: translate(-50%, -50%);
  font-size: 48px;
  text-align: center;
}

.index1text{
  background-color: rgb(255, 250, 164);
  border-radius: 30px;
  position: absolute; 
  margin-top: 12%;
  right: 1vw;
  width: 50%;
  color: black;
  font-size: 32px;
  text-align: left;
  animation: moveRightindextext1 1.5s;
}

@keyframes moveRightindextext1 {
  from {right: 0px}
  to {right: 1vw}
}

.index2text{
  background-color: rgb(255, 250, 164);
  border-radius: 30px;
  position: absolute; 
  margin-top: 30%;
  left: 1vw;
  width: 50%;
  color: black;
  font-size: 32px;
  text-align: left;
  animation: moveRightindextext2 1.5s;
}

@keyframes moveRightindextext2 {
  from {left: 0px}
  to {left: 1vw}
}
.buybutton {
  background-color: transparent;
  border: none;
  transition: box-shadow 0.3s ease;
  border-radius: 50px;
  height: 10vh;
}

.buybutton:hover {
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

.title {
  font-family: Roboto;
  color: rgb(0, 255, 30);
  text-align: center;
  font-size: 48px;
  display: flex;
  flex-direction: column;
}

.bottomlinks a  img{
  margin-left: 15vw;
  margin-top: 30vw;
  width: 5vw;
}

/*style="color: green; border: 2px; border-color: black; background-color: aquamarine; border-radius: 10px; border-style: solid; text-decoration: none; height: 5vh;"