.warenkorb {
  height: 3vh;
  margin-left: 85vw;
}
.buybutton {
  background-color: transparent;
  border: none;
}
.title {
  font-family: Roboto;
  color: rgb(0, 255, 30);
  text-align: center;
  font-size: 48px;
  display: flex;
  flex-direction: column;
}

.imagespar {
  display: flex;
  gap: 20px;
}

.imagespar img {
  height: 25vh;
  border-style: solid;
  border-color: black;
  margin-left: 15vw;
}

.indexflex { 
  display: flex;
  flex-direction: row;
}

.bottomlinks a  img{
  margin-left: 15vw;
  width: 5vw;

}
/*style="color: green; border: 2px; border-color: black; background-color: aquamarine; border-radius: 10px; border-style: solid; text-decoration: none; height: 5vh;"