.title {
  font-family: Roboto;
  color: rgb(0, 255, 30);
  text-align: center;
  font-size: 48px;
}

.imagespar {
  display: flex;
  gap: 20px;
}

.imagespar img {
  height: 25vh;
  border-style: solid;
  border-color: black;
  margin-left: 10vw;
}

.indexflex {
  display: flex;
  flex-direction: row;
}
.bottomlinks {
  display: flex;
  flex-direction: row;
  background-color: blue;
}
/*style="color: green; border: 2px; border-color: black; background-color: aquamarine; border-radius: 10px; border-style: solid; text-decoration: none; height: 5vh;"